.hotel-search input {
    width: 25%;
    padding: 10px;
    margin: 5px ;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.hotel-search input:focus {
    outline: none;
    border-color: #de4e48;
    box-shadow: 0 0 5px 5px #d8b6b3;
}

.hotel-search button{
    padding: 10px 20px;
    background-color: #d8b6b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.hotel-search button:hover{
    background-color: #d8b6b3;
}

.hotel-list table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

.hotel-list th, .hotel-list td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.hotel-list th{
    background-color: #de4e48;
    color: #fff;
}

.hotel-list td button{
    padding: 5px 10px;
    background-color: #de4e48;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.hotel-list td button:hover{
    background-color: #d8b6b3;
}

.slider {
  margin-top: 20px;
  width: 25%;
}



.icon {
  color: #3db9ef;
}
.mainColor{
  color: #3db9ef;
}
.mainBackground{
  background-color: #3db9ef;
}
.secBackground{
  background-color: #f6f9fe;
  color: #010101;
}
.secBackground:hover{
  background-color: #3db9ef;
  color: #fff;
}
.showBtn{
  outline: #3db9ef solid 1px;
  width: 150px;
}
.showBtn:hover{
  background-color: #3db9ef;
  color: #fff;
}
.bookBtn{
  background-color: #3db9ef;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}
.bookBtn:hover {
  background-color: #0099cc;
}
.conbtn{
  background-color: #3db9ef;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}
.conbtn:hover {
  background-color: #0099cc;
}
.bookdiv{
  bottom: 10px;
  left: 10px;
  right: 10px;
}