
.my-flights{
    padding-top: 150px;
}

.my-flights {
  /* background-color: #eff8fe; */
  border-radius: 12px;
}

.flight-card {
  background-color: white;
  border-left: 6px solid #3db9ef;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(61, 185, 239, 0.1);
}

.flight-title {
  color: #3db9ef;
  font-weight: bold;
}

.transit-box {
  background-color: #fff9e5;
  border: 1px solid #ffc118;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
}

.transit-box h5 {
  color: #ffc118;
  margin-bottom: 0.5rem;
  width: 100%;
  
}

.section-title {
  color: #0f1112;
  border-bottom: 2px solid #3db9ef;
  padding-bottom: 0.3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.paymentBtn {
  background-color: #00c3ff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.paymentBtn:hover {
  background-color: #0099cc;
}

.dropdown-button {
    padding: 15px 45px;
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #ccc !important;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100% !important;
    
}