.home{
    /* background-image: url("home.MP4") ;
    background-size: cover;
    background-position: center; */
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
h2{
    /* padding-top: 100px; */
    font-size: 40px;
    font-weight: 700;
}
h2 span{
    color: #50bdeba9;
    font-size: 3rem;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.homeVid{
    width: 100%;
}
.header{
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header h1{
    font-size: 80px;
    font-weight: 700;
}
.header p{
    color: #ebe9e9;
}


@media (max-width: 930px) {
    .header{
        width: 100%;
        padding: 20px;
    }
    .header h1{
        font-size: 25px;
    }
    .header p{
        font-size: 18px;
    }
}


@media (max-width: 767px) {
    .header{
        width: 100%;
        padding: 20px;
    }
    .header h1{
        font-size: 20px;
    }
    .header p{
        font-size: 15px;
    }
}

.overlay{
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.heroButtons button{
    width: 150px;
    color: #fefefe !important;
    background-color: gray;

}
.heroButtons a{
    color: #fefefe !important;
}
h1 span{
    color: #3db9ef;
}
h3{
    font-size: 40px;
    font-weight: 700; 
}

ul{
    list-style: none;
    padding: 0;
    margin: 0
}
.btn-Hbook{
    background-color: #3db9ef !important;
    border: none !important;
}
.btn-Hbook:hover{
    background-color: #75cef4 !important;
    border: none !important;
}
.btn-Hbook a{
    color: #fff ;
    text-decoration: none ;
}

.provide li{
    font-size: 30px;
    vertical-align: middle;
    padding: 10px;
}
 li i{
    color: #3db9ef;
}

.icondiv{
    width: 50px;
}


/* destination */

.card{
    transition: 0.5s all;
    border-radius: 20px;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px 1px #3db9ef;
}


.cardTop{
    height: 200px;
    background-image:linear-gradient(to bottom right, #5cbbe4 , #e8d999 70%);
    border-radius: 20px 20px 0 0;
    position: relative;

}
.cardContent{
    background-color: #f7f7f7;
    /* height: 250px; */
    border-radius: 0 0 20px 20px;
    position: relative;
    padding: 20px;
    color: #000;
  
}

li i{
    color: #3db9ef;
}

.explore{
    background-color: #3db9ef;
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.explore:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px 1px #3db9ef;
}

